.github/**
.gitwe/**
.vscode/**
.vscode-test/**
src/**
out/**
node_modules/**
!node_modules/gitwe-ts/**
!node_modules/js-yaml/**
!node_modules/argparse/**
.gitignore
.eslintrc.json
esbuild.js
tsconfig.json
structure.md
docs/**
**/*.map
**/.DS_Store
